.new {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.new .file-path-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
}

.new img {
 max-width: 100% !important;
 height: 250px;
 border-radius: 10px;
}

.buttons {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}

.buttons button {
 width: 100%;
 background-color: var(--primary);
}

.buttons button:focus, .buttons button:hover {
 background-color: var(--primary-dark);
}

.new .circle {
 display: flex;
 justify-content: center;
}